@import url(https://fonts.googleapis.com/css?family=Inter);
.head {
    background-color: rgba(222,111,111,111);
    height: 31%;
    width: 100%;
    flex: auto;
    flex-direction: row;


}


.box {
    background-color: rgba(255, 255, 255, 255);
    height: 13%;
    width: 100%;
    box-shadow: 1px 1px 5px lightgray;
    display: flex;
    justify-content: space-between;

}
.textos{
    display: flex;
    flex-direction: row;
    align-items: center;
    


  
}
.textos1{
    margin-left: 18%;
    margin-top: 0.8%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 75px;

}
.bloque{
display: flex;
flex-direction: row;
margin-left: 8%;


}
.logo {
    width: 75px;
    height: 60px;
   margin-top: 8%;
    display: flex;
    
    align-items: center;
   

}

.logotxt {
    width: 5%;
    height: 4%;
   padding-left: 6%;
position: absolute;
padding-top:1.1%;
font-size:xx-large;
font-family: "Inter";
color: rgb(99, 96, 96);
;
}

.logotxt1 {
    width: 5%;
    height: 4%;


font-size:medium;
font-family: "Inter";
color: #9389eb
   

}
.logotxt2 {
    width: 5%;
    height: 4%;

    font-size:medium;
    font-family: "Inter";
color: #71737f;
   

}
.logotxt3 {
    width: 5%;
    height: 4%;


    font-size:medium;
font-family: "Inter";
color: #71737f;
   

}
.logotxt4 {
    width: 5%;
    height: 4%;
   
    font-size:medium;
font-family: "Inter";
color: #71737f;
   

}
.logotxt5 {
    width: 20%;
    height: 4%;


    font-size:medium;
font-family: "Inter";
color: #71737f;
   

}
.botones{
margin-left: 20%;
    display: flex;
    flex-direction: row;
    align-items: center;

   
}
.singup{
    height:40px;
    width: 100px;
    border: none;
    background-color:#776df4;
    font-family: 'Inter';
    font-size: 15px;
    border-radius: 10px;
    color:white;
    margin-left: 10%;
    margin-top: 5%;

    
}
.singin{
    height:40px;
    width:120px;
  border: none;
    background-color:white;
    font-family: 'Inter';
    font-size: 15px;
    border-radius: 10px;
    color:gray;
    margin-top: 5%;

}
.icono{
 width: 20%;
 height: 30%;
}

.body {
    background-color: rgb(255, 255, 255);
    height: 80%;
    width: 100%;
}

.bottom {
    background-color: rgba(55, 58, 77, 255);
    height: 31%;
    width: 100%;
}

.todo {
    background-color: rgba(44, 45, 63, 255);
    width: 100%;
    height: 250%;
}

  .imagen1{
    border-radius: 25px;
    margin-top: 15%;
    margin-left: 20%;
  }
 
  .rectangulo1 {
    border-radius: 25px;
    width: 32%;
    height: 36%;
    background-color: white;
    box-shadow: 0 0 35px -20px;
    margin-top: 21.5%;
    margin-left: 11.5%;
    position: absolute;

}
 .comillas {
    width: 16%;
    height: 23%;
    margin-top: 7%;
    margin-left: 40%
 }
 .textos{
    margin-top: 5%;
    padding:5%;
 }
 .textos1{

padding-left:5% ;
 }
.txtcomillas {
font-family: 'Inter';

font-size: 95%;
color: #878696;


}
.txtcomillas2{
    font-family: 'Inter';
    font-size: 95%;
    color:#4e506b;
 
}

.title{
    font-family: 'Inter';
    font-size:180% ;
    color:#4e506b;
    position: absolute;
    margin-top: 9%;
    margin-left: 35%;
    
}