@import url(https://fonts.googleapis.com/css?family=Inter);
.head {
    background-color: rgba(222,111,111,111);
    height: 31%;
    width: 100%;
}

.body {
    background-color: rgb(255, 255, 255);
    height: 80%;
    width: 100%;
}

.bottom {
    background-color: rgba(55, 58, 77, 255);
    height: 31%;
    width: 100%;
}

.todo {
    background-color: rgba(44,45,63,255);
    width: 100%;
    height: 250%;
}

  .imagen1{
    border-radius: 25px;
    margin-top: 15%;
    margin-left: 20%;
  }
 
  .rectangulo1 {
    border-radius: 25px;
    width: 32%;
    height: 36%;
    background-color: white;
    box-shadow: 0 0 35px -20px;
    margin-top: 21.5%;
    margin-left: 11.5%;
    position: absolute;

}
 .comillas {
    width: 16%;
    height: 23%;
    margin-top: 7%;
    margin-left: 40%
 }
 .textos{
    margin-top: 5%;
    padding:5%;
 }
 .textos1{

padding-left:5% ;
 }
.txtcomillas {
font-family: 'Inter';

font-size: 95%;
color: #878696;


}
.txtcomillas2{
    font-family: 'Inter';
    font-size: 95%;
    color:#4e506b;
 
}

.title{
    font-family: 'Inter';
    font-size:180% ;
    color:#4e506b;
    position: absolute;
    margin-top: 9%;
    margin-left: 35%;
    
}